# Q6

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('Company.csv')

In [7]:
data

       Company  Sales  Profits
0       Amazon    100    0.030
1    Microsoft    345    0.040
2        Adobe    400    0.009
3  Continental    600    0.100

In [4]:
data.describe()

            Sales   Profits
count    4.000000  4.000000
mean   361.250000  0.044750
std    205.765846  0.039033
min    100.000000  0.009000
25%    283.750000  0.024750
50%    372.500000  0.035000
75%    450.000000  0.055000
max    600.000000  0.100000

In [11]:
array1 = np.array(data['Sales'])

In [12]:
var = np.var(array1)

In [13]:
var

31754.6875

In [14]:
mean_calc = np.mean(array1)

In [15]:
mean_calc

361.25

In [16]:
array2 = np.array(data['Profits'])

In [17]:
array2

array([0.03 , 0.04 , 0.009, 0.1  ])

In [19]:
var1 = np.var(array2)
print(var1)

0.0011426875

In [21]:
mean_Calc2 = np.mean(array2)
print(mean_Calc2)

0.04475